<p>frame works!</p>
<div style="display: flex;">
    <p-tree [value]="files1" [filter]="true">
      <ng-template let-node pTemplate="default">
        <button *ngIf="node.children" class="p-ripple p-element p-tree-toggler" (click)="node.expanded=!node.expanded">
          <i [class]="node.expanded?'pi pi-eye':'pi pi-eye-slash'"></i>
        </button>

        <i [class]="node.data.icon" style="margin-left: .5rem;"></i>
        <b> {{node.label}} 123</b>
        <button pButton icon="pi pi-plus" label="add child" (click)="addNode(node)"></button>
        <button pButton [label]="'Go To ' + (node.data.goTo==2?'test2':'test1')"
          [routerLink]="node.data.goTo==2?'test2':'test1'"></button>
      </ng-template>
    </p-tree>
    <router-outlet></router-outlet>
  </div>